.container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.contProduct{
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 140px;
}
.contProduct>button{
  height:40px;
}
.buyProd{
  background: rgb(142,142,147);
  border: 0;
  width: 68px;
  border-radius: 7px;
  cursor: pointer;
}
.contProduct>div{
  width:60%;
}
.contProduct a {
  text-decoration: none;
  color: black;
}
.prod:nth-child(2){
  color: rgb(99,99,102);
  font-size: 0.85rem;
}
.prod:nth-child(3){
  font-weight: bold;
}
